@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
    color: hsl(0, 0%, 7%);
}

body{
    background-color: hsl(47, 88%, 63%);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px;
    padding: 25px;
    width: 80%;
    max-width: 350px;
}
.imagem{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.learning{
    font-weight: 700;
    background-color: hsl(47, 88%, 63%);
    padding: 10px;
    border-radius: 10px;
    width: 85px;
    margin-bottom: 10px;
}
.data_card, .title_card, .content_card{
    margin-bottom: 15px;
}
.title_card:hover{
    color: hsl(47, 88%, 63%);
}
.content_card{
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}
.user{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.user_picture{
    width: 10%;
    margin-right: 15px;
}
